.about_aiu{
    height: 100vh;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 1290px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.about_aiu .main img{
    width: 580px;
    max-width: 100%;
    height: auto;
    padding: 0 10px;
}
.all-text{
    width: 600px;
    max-width: 100%;
    padding: 0 10px;
}

.all-text h4{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #777777;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 10px;
}
.all-text h1{
    font-size: 64px;
    color: #111111;
    font-weight: 700;
    margin-bottom: 20px;
}
.all-text p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #777777;
    line-height: 30px;
    margin-bottom: 35px;
}
.button-apply button{
    color: #000000;
    border: 1px solid #000000;
    background: transparent;
}

.button-apply button:hover{
    background-color: #d40e1e;
    color: white;
    border: none;
    transition: 1s;
    cursor: pointer;
}
@media screen and (max-width: 1250px){
    .about_aiu{
        width: 100%;
        height: auto;
        padding: 60px 0;
    }
    .all-text{
        text-align: center;
        margin-top: 40px;
    }
}
@media screen and (max-width: 650px){
    .about_aiu .main img{
        margin-bottom: 35px;
    }
    .all-text h1{
        font-size: 45px;
        margin-bottom: 20px;
    }
}