.top-bar{
    padding: 20px 6%;
    background-color: rgb(218, 217, 210);
    color: #2d2652;
}
.under{
    height: 5px;
    background-color: #d40e1e;
}

.info-section {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    margin-top: 20px;
}

.info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#datetime {
    font-size: 14px;
    color: #666;
}
.doc-section{
    margin: 0 9%;
    padding-top: 20px;
}
.doc-section .program-list div{
    display: flex;
}
.doc-info{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.doc-info i{
    margin-bottom: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.doc-req .doc-list div{
    display:flex;
}
.doc-list i{
    font-size: 20px;
    padding-top: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}
.program-list i{
    padding-top: 5px;
}
.doc-req{
    margin-bottom: 20px;
}
.doc-req h2{
    font-size: 100;
    color: #2d2652;
    margin-top: 20px;
    margin-bottom: 20px;
}




