
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Apply website{% endblock %}</title>
    {% load static %}
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
    <link rel="stylesheet" href="{% static 'my_app/css/nav2.css' %}">

    <link rel="stylesheet" href="{% static 'my_app/css/footer.css' %}">

    <link rel="stylesheet" href="{% static 'my_app/css/apply.css' %}">
    

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&family=Mulish:ital@0;1&display=swap" rel="stylesheet">


    
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        {% include 'my_app/includes/nav2.html' %}
    </header>
    <main>
        {% block content %}
        <section id="apply">
            <div class="getin">
                <h2>Get in touch</h1>
                <p>Looking for help? Fill the form and start a new adventure.</p>

                <div class="getin-details">
                    <h3>Headquaters</h3>
                    <div>
                        <i class="fas fa-home get"></i>
                        <p>Ankara st. 64e blablabla</p>
                    </div>
                    <h3>Phone</h3>
                    <div>
                        <i class="fas fa-phone-alt get"></i>
                        <p>+(996)7000000000<br>+(996)7000000000</p>
                    </div>
                    <h3>Support</h3>
                    <div>
                        <i class="fas fa-envelope-open-text get"></i>
                        <p>ala-too@gmail.com<br>helpalatoo@gmail.com</p>
                    </div>
                    <h3>Follow Us</h3>
                    <div class="pro-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                      </div>
                </div>
            </div>
            <div class="form">
                <h4>Let's Connect and Apply</h4>
                <p>Submit your all information and documentation below. </p>
                <div class="form-row">
                    <input type="text" placeholder="Your Name">
                    <input type="text" placeholder="Email">
                </div>
                <div class="form-col">
                    <input type="text" placeholder="Subject">
                </div>
                <div class="form-col">
                    <label for="file">Select file:</label>
                    <input type="file" id="file" name="file" accept=".pdf, .doc, .docx, .jpg, .png">
                </div>
                <div class="form-col">
                    <textarea name="" id="" cols="30" rows="8" placeholder="How can we help?"></textarea>
                </div>
                <div class="form-col">
                    <button>Apply</button>
                </div>
            </div>
        </section>
        <section id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2706.7572897247464!2d74.67965102390896!3d42.856251916123625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389eb6c95311ea6b%3A0x7023946675e4c5a9!2z0JzQtdC20LTRg9C90LDRgNC-0LTQvdGL0Lkg0YPQvdC40LLQtdGA0YHQuNGC0LXRgiDQkNC70LAt0KLQvtC-!5e0!3m2!1sru!2skg!4v1717462406516!5m2!1sru!2skg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        

        {% include 'my_app/includes/footer.html' %}
        {% endblock %}
      
    </main>

       
    
    <script src="{% static 'my_app/js/nav.js' %}"></script>
    <script src="https://kit.fontawesome.com/91f5e217d8.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>


    {% block extra_js %}{% endblock %}
</body>
</html>
