<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PHD_Master website{% endblock %}</title>
    {% load static %}
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'my_app/css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'my_app/css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'my_app/css/why.css' %}">
    <link rel="stylesheet" href="{% static 'my_app/css/counter.css' %}">
    <link rel="stylesheet" href="{% static 'my_app/css/news.css' %}">
    <link rel="stylesheet" href="{% static 'my_app/css/aiu_history.css' %}">


    

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&family=Mulish:ital@0;1&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        {% include 'my_app/includes/nav.html' %}
        {% block text_box %}
    <div class="text-box">
        <h1>Ala-Too International University</h1><br>
        <p>Endless Possibilities, Endless Opportunities.</p>
        <a href="#aiu_history" class="visit-btn">More about AIU</a>
    </div>
    {% endblock %}
    </header>
    <main>
        {% block content %}
        {% include 'my_app/includes/aiu_history.html' %}
        {% include 'my_app/includes/why.html' %}
        {% include 'my_app/includes/counter.html' %}
        {% include 'my_app/includes/news.html' %}
        {% endblock %}
    </main>
    <footer>
        {% include 'my_app/includes/footer.html' %}
    </footer>
    
    <script src="{% static 'my_app/js/nav.js' %}"></script>
    <script src="{% static 'my_app/js/why.js' %}"></script>
    <script src="{% static 'my_app/js/counter.js' %}"></script>
 



    {% block extra_js %}{% endblock %}
    
</body>
</html>
