<!-- my_app/templates/my_app/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PHD_Master website{% endblock %}</title>
    {% load static %}
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
    <link rel="stylesheet" href="{% static 'my_app/css/nav2.css' %}">

    <link rel="stylesheet" href="{% static 'my_app/css/footer.css' %}">

    <link rel="stylesheet" href="{% static 'my_app/css/phd_program.css' %}">
    

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&family=Mulish:ital@0;1&display=swap" rel="stylesheet">
    
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        {% include 'my_app/includes/nav2.html' %}
    </header>
    <main>
        {% block content %}
        <div class="top-bar">
            <h1>Master program for <br>Computer Science and Information Technology</h1>
        </div>
        <div class="under">
        </div>
        <section class="info-section">
            <div class="container">
                <div class="info-header">
                    <h2>Information Section</h2>
                    <div id="datetime"></div>
                </div>
                <p>Для специалистов в области информационных технологий желающих заняться научной деятельностью <br>
                    с 2022 г. существует возможность поступить в базовую докторантуру на соискание ученой степени доктора по профилю PHD.,<br>
                    Базовая докторантура объединяет базовые компетенции магистратуры или специалиста, позволяя разрабатывать <br>
                    узкоспециализированные научные направления под руководством научного руководителя по закрепленной теме.<br>
                    Тема диссертации должна быть актуальной, отвечающей современным требованиям и приносить пользу стране.<br>
                    В учебные планы базовой докторантуры включены научные семинары, научно-исследовательские конференции, круглые столы <br>
                    с участием ведущих специалистов, а также мастер-классы по написанию научных статей.<br>
                    Язык обучения: английский <br>
                    Сроки подачи документов: 31 августа - 1 ноября в будние дни с 10:00 до 17:00<br>
                    Для получения подробной информации:</p>
            </div>
        </section>
        

        {% include 'my_app/includes/footer.html' %}
        {% endblock %}
      
    </main>

       
    
    <script src="{% static 'my_app/js/information.js' %}"></script>
    <script src="{% static 'my_app/js/nav.js' %}"></script>
    <script src="https://kit.fontawesome.com/91f5e217d8.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>


    {% block extra_js %}{% endblock %}
</body>
</html>
