<!-- my_app/templates/my_app/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PHD_Master website{% endblock %}</title>
    {% load static %}
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
    <link rel="stylesheet" href="{% static 'my_app/css/nav2.css' %}">

    <link rel="stylesheet" href="{% static 'my_app/css/footer.css' %}">

    <link rel="stylesheet" href="{% static 'my_app/css/phd_program.css' %}">
    

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&family=Mulish:ital@0;1&display=swap" rel="stylesheet">
    
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        {% include 'my_app/includes/nav2.html' %}
    </header>
    <main>
        {% block content %}
        <div class="top-bar">
            <h1>Master program for <br>Computer Science and Information Technology</h1>
        </div>
        <div class="under">
        </div>
        <section class="info-section">
            <div class="container">
                <div class="info-header">
                    <h2>Information Section</h2>
                    <div id="datetime"></div>
                </div>
                <p>For specialists in the field of information technology who want to engage in scientific activities <br>
                    from 2022 there is an opportunity to enroll in basic doctoral studies for a doctorate degree in the PHD profile.,<br>
                    Basic doctoral studies combine the basic competencies of a master's or specialist degree, allowing the development of <br>
                    highly specialized scientific areas under the guidance of a scientific supervisor on a fixed topic.<br>
                    The topic of the dissertation must be relevant, meet modern requirements and benefit the country.<br>
                    The curricula of basic doctoral studies include scientific seminars, research conferences, round tables <br>
                    with the participation of leading experts, as well as master classes on writing scientific articles.<br>
                    Language of instruction: English <br>
                    Deadlines for submitting documents: August 31 - November 1 on weekdays from 10:00 to 17:00<br>
                    For more information:</p>
            </div>
        </section>
        <section class="doc-section">
            <div class="program-list">
                <h2>All Master Programs</h2>
                <div>
                    <i class="fas fa-star get" style="color: #d40e1e;"></i>
                    <p>Economic theory</p>
                </div>
                <div>
                    <i class="fas fa-star get" style="color: #d40e1e;"></i>
                    <p>Economics and management of the national economy</p>
                </div>
                <div>
                    <i class="fas fa-star get" style="color: #d40e1e;"></i>
                    <p>Comparative - historical, typological and comparative linguistics</p>
                </div>
                <div>
                    <i class="fas fa-star get" style="color: #d40e1e;"></i>
                    <p>General pedagogy, history of pedagogy and education</p>
                </div>
                <div>
                    <i class="fas fa-star get" style="color: #d40e1e;"></i>
                    <p>Social philosophy</p>
                </div>
                <div>
                    <i class="fas fa-star get" style="color: #d40e1e;"></i>
                    <p>History and theory of culture</p>
                </div>
            </div>
            <div class="doc-info">
                <div class="doc">
                    <i class="fas fa-envelope-open-text get" style="color: #d40e1e;"></i>
                    <h3>Documents for Master degree</h3>
                    <p>are acceptable from 1-august till 1-november</p>
                </div>
                <div class="date">
                    <i class="fa-solid fa-business-time" style="color: #d40e1e;"></i>
                    <h3>Work days</h3>
                    <p>Monday-Friday, 9am - 5pm</p>
                </div>
            </div>
            <div class="doc-req">
                <h2>Docs required for Master degree</h2>
                <div class="doc-list">
                    <div>
                        <i class="fa-regular fa-circle-check"></i>
                        <h4>Личный листок по учету кадров</h4>
                    </div>
                    <div>
                        <i class="fa-regular fa-circle-check"></i>
                        <h4>Автобиография</h4>
                    </div>
                    <div>
                        <i class="fa-regular fa-circle-check"></i>
                        <h4>Характеристика</h4>
                    </div>
                    <div>
                        <i class="fa-regular fa-circle-check"></i>
                        <h4>Копия диплома об окончании ВУЗа</h4>
                    </div>
                    <div>
                        <i class="fa-regular fa-circle-check"></i>
                        <h4>Копия приложения к диплому</h4>
                    </div>
                    <div>
                        <i class="fa-regular fa-circle-check"></i>
                        <h4>Копия паспорта</h4>
                    </div>
                    <div>
                        <i class="fa-regular fa-circle-check"></i>
                        <h4>Реферат или список опубликованных работ, сведения об изобретениях</h4>
                    </div>
                    <div>
                        <i class="fa-regular fa-circle-check"></i>
                        <h4>Фотокарточки 4х6 –1 шт. 3х4 – 2шт</h4>
                    </div>
                    <div>
                        <i class="fa-regular fa-circle-check"></i>
                        <h4>Копия трудовой книжки (копия с печатью)</h4>
                    </div>
                </div>
            </div>
            <div class="important-s">
                <h4>Important for Industrial students</h4>
                <P>Translation of a passport, diploma and its insert into Kyrgyz or Russian<br>
                     (the translation must be confirmed by a certified notary or translation companies).</P>
            </div>
        </section>
        

        {% include 'my_app/includes/footer.html' %}
        {% endblock %}
      
    </main>

       
    
    <script src="{% static 'my_app/js/information.js' %}"></script>
    <script src="{% static 'my_app/js/nav.js' %}"></script>
    <script src="https://kit.fontawesome.com/91f5e217d8.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>


    {% block extra_js %}{% endblock %}
</body>
</html>
