    {% load static %}
        <nav>
            <a href="{% url 'home' %}">
                <img src="{{ MEDIA_URL }}logo_alatoo3.png" alt="logo_alatoo">
            </a> 
            <div class="nav-links" id="navLinks">
              <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="{% url 'home' %}" data-lang="about-faculty">About</a></li>
                    <li class="dropdown">
                        <a href="" data-lang="about-programs">Programs</a>
                        <div class="dropdown-content">
                            <a href="{% url 'phd_program' %}" data-lang="phd-programs">PHD program</a>
                            <a href="{% url 'master_program' %}" data-lang="master-program">Master-program</a>
                        </div>
                    </li>
                    <li><a href="{% url 'research' %}" data-lang="for-students">Research</a></li>
                    <li><a href="{% url 'dual_degree' %}" data-lang="dual-degree">Dual-degree</a></li>
                    <li><a href="{% url 'apply' %}" data-lang="apply">Apply</a></li>
                </ul>
            </div>
            <div class="search-container">
              <form class="form" role="form" action="" method="get" style="margin-right: 10px;">
                <div class="input-group">
                  <input type="text" placeholder="Search the site" class="form-control inpsearch" name="search" value="" style="background-color: rgb(224, 231, 231);">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary butsearch"><i class="fas fa-search"></i></button>
                  </span>
                </div>                
              </form>
              <a href="" class="btn donationbutton" style="margin-left: 20px; border-color: #fff;color: #fff;margin-bottom: 7px;">
                Support AIU
              </a>
              <div class="lang-menu">
                <div class="selected-lang">
                  <img src="https://flagsapi.com/US/flat/32.png" alt="English">
                </div>
                <ul>
                  <li>
                    <a href="#" class="us">
                      <img src="https://flagsapi.com/US/flat/32.png" alt="English">
                    </a>
                  </li>
                  <li>
                    <a href="#" class="ru">
                      <img src="https://flagsapi.com/RU/flat/32.png" alt="Russian">
                    </a>
                  </li>
                  <li>
                    <a href="#" class="kg">
                      <img src="https://flagsapi.com/KG/flat/32.png" alt="Kyrgyz">
                    </a>
                  </li>
                </ul>
              </div>
            </div> 
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
 
    
    <script src="{% static 'my_app/js/nav.js' %}"></script>
    <script src="https://kit.fontawesome.com/91f5e217d8.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>


    {% block extra_js %}{% endblock %}
</body>
</html>
