<section class="news-section">
    <h2>What's new in Ala-Too</h2>
    <div class="news-container">
        <div class="news-item">
            <img src="{{ MEDIA_URL }}sobr.jpg" alt="Магистрантка МУА продолжит свое обучение">
            <div class="date">
                <span class="day">07</span>
                <span class="month">Май</span>
            </div>
            <h3>Магистрантка МУА продолжит свое обучение</h3>
            <a href="#">Read more</a>
        </div>
        <div class="news-item">
            <img src="{{ MEDIA_URL }}eco-fest.jpg" alt="Визит профессоров университета Вильнюс, Литва">
            <div class="date">
                <span class="day">01</span>
                <span class="month">Май</span>
            </div>
            <h3>Визит профессоров университета Вильнюс, Литва</h3>
            <a href="#">Read more</a>
        </div>
        <div class="news-item">
            <img src="{{ MEDIA_URL }}america.jpeg" alt="Встреча с профессором из Гарвардского">
            <div class="date">
                <span class="day">30</span>
                <span class="month">Апр</span>
            </div>
            <h3>Встреча с профессором из Гарвардского</h3>
            <a href="#">Read more</a>
        </div>
        <div class="news-item">
            <img src="{{ MEDIA_URL }}conf.jpg" alt="Магистрантка МУА продолжит свое обучение">
            <div class="date">
                <span class="day">07</span>
                <span class="month">Май</span>
            </div>
            <h3>Магистрантка МУА продолжит свое обучение</h3>
            <a href="#">Read more</a>
        </div>
        <div class="news-item">
            <img src="{{ MEDIA_URL }}girls.jpg" alt="Визит профессоров университета Вильнюс, Литва">
            <div class="date">
                <span class="day">01</span>
                <span class="month">Май</span>
            </div>
            <h3>Визит профессоров университета Вильнюс, Литва</h3>
            <a href="#">Read more</a>
        </div>
        <div class="news-item">
            <img src="{{ MEDIA_URL }}conf2.jpg" alt="Встреча с профессором из Гарвардского">
            <div class="date">
                <span class="day">30</span>
                <span class="month">Апр</span>
            </div>
            <h3>Встреча с профессором из Гарвардского</h3>
            <a href="#">Read more</a>
        </div>
    </div>
    <a href="#" class="all-news-link">All news</a>
</section>