<section class="news-section">
    <h2>Новости и события</h2>
    <div class="news-container">
        {% for n in news%}
        <div class="news-item">
            <img src="{{n.image.url}}" alt="{{n.title}}">
            <div class="date">
                <span class="day">{{n.day}}</span>
                <span class="month">{{n.month}}</span>
            </div>
            <h3>{{n.title}}</h3>
            <a href="#">Узнать больше</a>
        </div>
        {% endfor %}
       
    </div>
    <a href="#" class="all-news-link">Все новости</a>
</section>
